[project]
name = "github-search-vivecodes"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
  # 
  "click>=8.2.1",
  "dateparser>=1.2.1",
  "requests>=2.32.4",
]

[dependency-groups]
dev = [
  # 
  "ruff>=0.14.10",
]
